version: '3.5'
services:
  db:
    image: postgres:10.1-alpine 
    volumes:
      - ./database/pg:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: 'toai_app'
      POSTGRES_USER: 'toai'
      POSTGRES_PASSWORD: 'toai'
    ports:
      - '5433:5432'
    expose:
      - '5432'
    networks:
      - app_and_db
  app:
    image: toaiapp_img
    build: .
    command : ["./wait-for-postgres.sh", "db", "reflex -c reflex.conf"]
    volumes:
      - .:/toaiapp
    working_dir: /toaiapp
    ports:
      - '8082:8082'
    expose:
      - 8082
    env_file:
      - ./.env
    depends_on:
      - db
    networks:
      - app_and_db
    restart: always
  client:
    image: toaiapp_img
    command: reflex -c reflex-client.conf
    volumes:
      - .:/toaiapp
    working_dir: /toaiapp
    ports:
      - '8084:8084'
    expose:
      - 8084
    depends_on:
      - app
    networks:
      - app_and_db
networks:
  app_and_db:
    driver: bridge
